<div class="container">
    <div class="gfx"><span></span></div>
    <div class="top">
        <div class="navigation">
            <a href="index.html" id="selected">Home</a>
            <a href="index.html">The Journey</a>
        </div>

        <div class="pattern"><span></span></div>

        <div class="header">
            <h1>LunchNLearn</h1>
            <p>Keep Yourself Informed N Learn How to Prepare for Changes</p>
        </div>

        <div class="pattern"><span></span></div>
    </div>