<div class = "content">
    <div class="spacer"></div>
    <div class="item">
        <p>Edit post</p>

        <%= render 'form' %>
    </div>
    <%= link_to 'Back', user_presentation_topic_path(@user,@presentation_topic) %>
