
<div class = "content">
    <div class="spacer"></div>

    <div class="item">
    <div class="title"> All Topics</div>
        <%= render @presentation_topics %>
    </div>

    <%= link_to "Back to Index", users_path %>
