
<div class = "content">
    <div class="spacer"></div>

    <div class="item">
        <p>all topics haru</p>
        <%= render @presentation_topics %>
    </div>

    <%= link_to "Back to Index", users_path %>
